@using VShop.DAL.Models.Db
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var listCategory = new List<Category>();
    if(ViewData["list"] != null){
        listCategory = ViewData["list"] as List<Category>;
    }
    int page = 1;
    if (ViewData["page"] != null)
    {
        page = Convert.ToInt32(ViewData["page"]);
    }
}
@model Category

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Quản lý danh mục</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Quản lý danh mục</li>
        </ol>
        <div class="d-flex mb-2 justify-content-between">
            <form class="d-flex form-inline" action="/admin/Category" method="get">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Tìm kiếm ..." aria-label="Tìm kiếm" aria-describedby="btnNavbarSearch" name="search" value="@ViewData["search"]" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="submit"><i class="fas fa-search"></i></button>
                </div>               
                <div style="margin-left: 20px;">
                    @{
                        bool? status = null;
                        if (ViewData["status"] != null)
                        {
                            status = Convert.ToBoolean(ViewData["status"]);
                        }
                    }
                    <select name="status" class="form-control" style=" width: fit-content" onchange="this.form.submit()">
                        <option value="">-- Chọn trạng thái --</option>
                        @if (status == true)
                        {
                            <option value="True" selected>Hoạt động</option>
                            <option value="False">Không hoạt động</option>
                        }
                        else if (status == false)
                        {
                            <option value="True">Hoạt động</option>
                            <option value="False" selected>Không hoạt động</option>
                        }
                        else
                        {
                            <option value="True">Hoạt động</option>
                            <option value="False">Không hoạt động</option>
                        }

                    </select>
                </div>

                <input type="hidden" name="page" value="@ViewData["page"]" />
            </form>

            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createModal">Thêm mới danh mục</button>

        </div>

        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Danh mục
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Tên
                            </th>
                            <th>Trạng thái</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (listCategory != null && listCategory.Any())
                        {
                            foreach (var item in listCategory)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td>
                                        <div class="form-check form-switch">
                                            <form action="/Admin/Category/ChangeStatus/@item.Id" method="post">
                                                <input class="form-check-input" type="checkbox" @(item.Status ? "checked" : "") onchange="this.form.submit()">
                                            </form>
                                        </div>
                                    </td>
                                    <td>

                                        <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editModal" data-id="@item.Id" data-name="@item.Name" data-isActive="@item.Status.ToString().ToLower()">Chỉnh sửa</button>


                                        @* <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal" *@
                                        @*         data-id="@item.Id"> *@
                                        @*     Xóa *@
                                        @* </button> *@
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <nav aria-label="Page navigation example d-flex">
                    @{
                        int count = 0;
                        if (ViewData["count"] != null)
                        {
                            count = Convert.ToInt32(ViewData["count"]);
                        }
                    }
                    @if (count != 0)
                    {
                        <ul class="pagination">
                            <li class="page-item @(page ==1 ? "disabled":"")">
                                <a class="page-link" href="/admin/category?search=@ViewData["search"]&status=@ViewData["status"]&page=@(page-1)" tabindex="-1">Previous</a>
                            </li>
                            @for (int i = 1; i <= count; i++)
                            {
                                <li class="page-item @(page == i ? "active" : "")"><a class="page-link" href="/admin/category?search=@ViewData["search"]&status=@ViewData["status"]&page=@i">@i</a></li>
                            }
                            <li class="page-item @(page ==count ? "disabled":"")">
                                <a class="page-link" href="/admin/category?search=@ViewData["search"]&status=@ViewData["status"]&page=@(page+1)">Next</a>
                            </li>
                        </ul>
                    }
                </nav>
            </div>
        </div>
    </div>

    <!-- Modal Create -->
    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-success text-white">
                    <h5 class="modal-title" id="createModalLabel">Create Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form id="createForm" method="post" action="admin/category/create">
                        <input type="text" id="createName" asp-for="Name" required />
                        <div class="mb-3">
                            <label for="editIsActive" class="form-check-label">Active</label>
                            <input type="checkbox" class="form-check-input" id="editIsActive" asp-for="Status">
                        </div>
                        <button type="submit" class="btn btn-success">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Edit -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="editModalLabel">Edit Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form id="editForm" method="post" action="category/edit">
                        <input type="hidden" id="editId" asp-for="Id" />
                        <input type="text" id="editName" asp-for="Name" required />
                        <div class="mb-3">
                            <label for="editIsActive" class="form-check-label">Active</label>
                            <input type="checkbox" class="form-check-input" id="editIsActive" asp-for="Status">
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @* <!-- Modal Delete --> *@
    @* <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true"> *@
    @*     <div class="modal-dialog"> *@
    @*         <div class="modal-content"> *@
    @*             <div class="modal-header bg-danger text-white"> *@
    @*                 <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5> *@
    @*                 <button type="button" class="btn-close" data-bs-dismiss="modal"></button> *@
    @*             </div> *@
    @*             <div class="modal-body"> *@
    @*                 <p>Are you sure to delete this product ?</p> *@
    @*             </div> *@
    @*             <div class="modal-footer"> *@
    @*                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button> *@
    @*                 <form action="/Admin/Product/Delete" method="post"> *@
    @*                     <input type="hidden" id="deleteId" name="id" /> *@
    @*                     <button type="submit" class="btn btn-danger" id="confirmDelete">Confirm</button> *@
    @*                 </form> *@

    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @* </div> *@
</main>
<script>

    editModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        document.getElementById('editId').value = button.getAttribute('data-id');
        document.getElementById('editName').value = button.getAttribute('data-name');
        const isActive = button.getAttribute('data-isActive') === 'true';

        // Binding giá trị vào checkbox
        const isActiveCheckbox = editModal.querySelector('#editIsActive');
        isActiveCheckbox.checked = isActive;
    });

    // var deleteModal = document.getElementById('deleteModal');
    // deleteModal.addEventListener('show.bs.modal', function (event) {
    //     var button = event.relatedTarget;
    //     document.getElementById('deleteId').value = button.getAttribute('data-id');
    // });
</script>