@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
        double totalOrder = 0;

    double voucherValue = 0;
}

<div class="full-banner" style="height: 135px">
</div>

<div class="main-content">
    <div class="container">
        <div class="row featured-block">
            <div class="main-head-block" style="margin-top: 0">
                <h3 class="text-success">Đặt hàng thành công, chúng tôi sẽ sớm liên hệ với bạn</h3>
            </div>

            <div class="post-item row">
                <div class="col-md-4">
                    <h3>Thông tin giao hàng</h3>
                    <p>Mã đơn hàng: @Model.ID</p>
                    <p>Tên người nhận: @Model.FullName</p>
                    <p>Số điện thoại: @Model.PhoneNumber</p>
                    <p>Tỉnh/Thành: @Model.ProvinceName</p>
                    <p>Quận/Huyện: @Model.DistrictName</p>
                    <p>Phường/Xã: @Model.WardName</p>
                    <p>Địa chỉ giao hàng: @Model.Address</p>
                    <p>Nội dung đơn hàng: @Model.Note</p>

                    @if (Model.TypePayment == 1)
                    {
                        <p>Loại thanh toán: COD</p>
                    }
                    else if (Model.TypePayment == 2)
                    {
                        <p>Loại thanh toán: Chuyển khoản</p>
                    }
                </div>

                <div class="col-md-8">
                    <h3>Thông tin đơn hàng</h3>
                    <table class="table table-bordered table-striped table-hover text-center">
                        <thead>
                            <tr class="table-dark" style="font-weight: bold">
                                <td>Hình ảnh</td>
                                <td>Tên sản phẩm</td>
                                <td>Giá</td>
                                <td>Số lượng</td>
                                <td>Tổng cộng</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderDetails)
                            {
                                double price = 0;

                                <tr>
                                    <td><img src="~/@item.Product.Image" style="height: 80px" /></td>
                                    <td>@item.Product.Name</td>
                                    @if (item.Product.Discount > 0)
                                    {
                                        price = item.Product.Price - (item.Product.Price * item.Product.Discount / 100);
                                        <td>
                                            <span style="text-decoration: line-through; font-size: 80%">@item.Product.Price</span>
                                            <span>@price.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</span>
                                        </td>
                                    }
                                    else
                                    {
                                        price = item.Product.Price;
                                        <td>@price.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</td>
                                    }
                                    <td>@item.Quantity</td>

                                    @{
                                        var total = price * item.Quantity;
                                        <td>@total.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</td>
                                    }
                                </tr>

                                totalOrder += price * item.Quantity;
                            }

                            @if (Model.Voucher != null)
                            {
                                if (Model.Voucher.DiscountAmount == true)
                                {
                                    voucherValue = Model.Voucher.DiscountValue;
                                }
                                else
                                {
                                    voucherValue = totalOrder * Model.Voucher.DiscountValue / 100;
                                }
                            }

                        </tbody>
                    </table>
                </div>



                <div class="spacer" style="height: 20px"></div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-sm-offset-8">
                    <table class="table">
                        <tbody>
                            <tr style="font-size:16px">
                                <td class="text-left cart-table-total-label"><strong>Tổng tiền hàng: </strong></td>
                                <td class="text-right cart-table-total">@totalOrder.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</td>
                            </tr>
                            <tr style="font-size:16px">
                                <td class="text-left cart-table-total-label"><strong>Phí vận chuyển: </strong></td>
                                <td class="text-right cart-table-total">@Model.DeliveryFee.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</td>
                            </tr>
                            <tr style="font-size:16px">
                                <td class="text-left cart-table-total-label"><strong>Voucher giảm giá: </strong></td>
                                <td class="text-right cart-table-total">- @voucherValue.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</td>
                            </tr>
                            <tr style="font-size:16px">
                                <td class="text-left cart-table-total-label"><strong>Tổng thanh toán: </strong></td>
                                @{
                                    var totalPayment = totalOrder + @Model.DeliveryFee - voucherValue;
                                    <td class="text-right cart-table-total">@totalPayment.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
