@{
    ViewData["Title"] = "Home Page";
    List<ProductDTO>? bestSellingItems = new List<ProductDTO>(); // list best selling items
    List<ProductDTO>? listNewArrivals = new List<ProductDTO>(); // list new arrial items
    if (ViewData["ListBestSellingItems"] != null)
    {
        bestSellingItems = ViewData["ListBestSellingItems"] as List<ProductDTO>;
    }
    if (ViewData["ListNewArrivals"] != null)
    {
        listNewArrivals = ViewData["ListNewArrivals"] as List<ProductDTO>;
    }

    List<string>? ListCategorySold = new List<string>(); // list category has product sold
    if (ViewData["ListCategorySold"] != null)
    {
        ListCategorySold = ViewData["ListCategorySold"] as List<string>;
    }

    List<string>? ListCategoryHasProduct = new List<string>(); // list category has product in shop
    if (ViewData["ListCategoryHasProduct"] != null)
    {
        ListCategoryHasProduct = ViewData["ListCategoryHasProduct"] as List<string>;
    }
}
<!--slider area start-->
<section class="slider_section mb-63">
    <div class="slider_area slick_slider_activation" data-slick='{
    "slidesToShow": 1,
    "slidesToScroll": 1,
    "arrows": true,
    "dots": true,
    "autoplay": false,
    "speed": 300,
    "infinite": true
    }'>
        <div class="single_slider d-flex align-items-center" data-bgimg="assets/img/slider/slider1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="slider_text">
                            <span>Lookbook</span>
                            <h1>Timeless Elegance, Modern Vibes</h1>
                            <p>From classic to trendy, find your perfect style <br> in every detail.</p>
                            <a class="btn btn-primary" href="/Products">Explore Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center" data-bgimg="assets/img/slider/slider1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="slider_text">
                            <span>Lookbook</span>
                            <h1>Your Style, Your Statement</h1>
                            <p>Unleash your confidence with our latest <br> fashion collections.</p>

                            <a class="btn btn-primary" href="/Products">Explore Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center" data-bgimg="assets/img/slider/slider1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="slider_text">
                            <span>Lookbook</span>
                            <h1>New Trends, New You</h1>
                            <p>Step into the latest fashion and redefine <br> your wardrobe.</p>

                            <a class="btn btn-primary" href="/Products">Explore Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--slider area end-->
<!--shipping section start-->
<section class="shipping_section mb-102">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="shipping_inner d-flex justify-content-between">
                    <div class="single_shipping d-flex align-items-center">
                        <div class="shipping_icon">
                            <i class="icon-cursor icons"></i>
                        </div>
                        <div class="shipping_text">
                            <h3>Free Shipping</h3>
                            <p>Orders over $100</p>
                        </div>
                    </div>
                    <div class="single_shipping d-flex align-items-center">
                        <div class="shipping_icon">
                            <i class="icon-reload icons"></i>
                        </div>
                        <div class="shipping_text">
                            <h3>Free Returns</h3>
                            <p>Within 30 days</p>
                        </div>
                    </div>
                    <div class="single_shipping d-flex align-items-center">
                        <div class="shipping_icon">
                            <i class="icon-lock icons"></i>
                        </div>
                        <div class="shipping_text">
                            <h3>100% Payment Secure</h3>
                            <p>Payment Online</p>
                        </div>
                    </div>
                    <div class="single_shipping d-flex align-items-center">
                        <div class="shipping_icon">
                            <i class="icon-tag icons"></i>
                        </div>
                        <div class="shipping_text">
                            <h3>Affordable Price</h3>
                            <p>Guaranteed</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--shipping section end-->
<!-- banner section start -->
<section class="banner_section mb-109">
    <div class="container">
        <div class="section_title mb-60">
            <h2>featured collections</h2>
        </div>
        <div class="banner_container d-flex">
            <figure class="single_banner position-relative mr-30">
                <img src="assets/img/bg/bg1.jpg" alt="">
                <figcaption class="banner_text position-absolute">
                    <h3>Zara Pattern <br> backpacks</h3>
                    <p>Stretch, fresh-cool help you alway <br> comfortable</p>
                    <a class="btn btn-primary" href="/Products">Shop Now</a>
                </figcaption>
            </figure>
            <figure class="single_banner position-relative">
                <img src="assets/img/bg/bg2.jpg" alt="">
                <figcaption class="banner_text position-absolute">
                    <h3 class="text-white">Basic Color Caps</h3>
                    <p class="text-white">Minimalist never cool, choose and make <br> the simple great again!</p>
                </figcaption>
            </figure>
        </div>
    </div>
</section>
<!-- banner section end -->
<!-- product section start -->
<section class="product_section mb-96">
    <div class="container">
        <div class="product_header d-flex justify-content-between  mb-50">
            <div class="section_title">
                <h2>best selling items</h2>
            </div>
            <div class="product_tab_btn d-flex">
                <ul class="nav" role="tablist">
                    <li>
                        <a class="active" data-toggle="tab" href="#all" role="tab" aria-controls="all"
                           aria-selected="true">
                            All
                        </a>
                    </li>
                    @if (ListCategorySold != null && ListCategorySold.Any())
                    {
                        @foreach (var item in ListCategorySold)
                        {
                            <li>
                                <a data-toggle="tab" href="#@item.Replace(" ", "_")" role="tab" aria-controls="@item.Replace(" ", "_")"
                                   aria-selected="false">
                                    @item
                                </a>
                            </li>
                        }

                    }

                </ul>
                <div class="all_product">
                    <a href="/Products">All Product</a>
                </div>
            </div>
        </div>
        <div class="product_container row">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="all" role="tabpanel">
                    <div class="product_slick slick_slider_activation" data-slick='{
                    "slidesToShow": 4,
                    "slidesToScroll": 1,
                    "arrows": true,
                    "dots": false,
                    "autoplay": false,
                    "speed": 300,
                    "infinite": true,
                    "responsive":[
                    {"breakpoint":992, "settings": { "slidesToShow": 3 } },
                    {"breakpoint":768, "settings": { "slidesToShow": 2 } },
                    {"breakpoint":300, "settings": { "slidesToShow": 1 } }
                    ]
                    }'>

                        @*Best selling products *@
                        @if (bestSellingItems != null && bestSellingItems.Any())
                        { @foreach (var item in bestSellingItems)
                            {
                                <article class="col single_product">
                                    <figure>
                                        <div class="product_thumb">
                                            <a href="product-details.html">
                                                <img class="primary_img" src="@item.Image"
                                                     alt="consectetur">
                                            </a>
                                            <div class="product_action">
                                                <ul>
                                                    <li class="wishlist">
                                                        <a href="#" data-tippy="Wishlist"
                                                           data-tippy-inertia="true" data-tippy-delay="50"
                                                           data-tippy-arrow="true" data-tippy-placement="left">
                                                            <i class="icon-heart icons"></i>
                                                        </a>
                                                    </li>

                                                    <li class="quick_view">
                                                        <a data-toggle="modal" data-target="#modal_box"
                                                           data-tippy="Quick View" href="#" data-tippy-inertia="true"
                                                           data-tippy-delay="50" data-tippy-arrow="true"
                                                           data-tippy-placement="left">
                                                            <i class="icon-size-fullscreen icons"></i>
                                                        </a>
                                                    </li>

                                                    <li class="compare">
                                                        <a data-tippy="Compare" href="#"
                                                           data-tippy-inertia="true" data-tippy-delay="50"
                                                           data-tippy-arrow="true" data-tippy-placement="left">
                                                            <i class="icon-refresh icons"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            @if (item.Discount != 0)
                                            {
                                                <div class="product_label">
                                                    <span>-@item.Discount%</span>
                                                </div>
                                            }
                                        </div>
                                        
                                        <figcaption class="product_content text-center">
                                            <div class="product_ratting">
                                                <ul class="d-flex justify-content-center">
                                                    <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                    <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                    <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                    <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                    <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                    <li><span>(4)</span></li>
                                                </ul>
                                            </div>
                                            <h4 class="product_name">
                                                <a href="product-details.html">@item.Name</a>
                                            </h4>
                                            <div class="price_box">
                                                <span class="current_price">@item.CurrentPrice</span>
                                                <span class="old_price">@item.OldPrice</span>
                                            </div>
                                            <div class="add_to_cart">
                                                <a class="btn btn-primary" href="#" data-tippy="Add To Cart"
                                                   data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true"
                                                   data-tippy-placement="top">Add To Cart</a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </article>
                            }}


                    </div>
                </div>
                @if (ListCategorySold != null && ListCategorySold.Any())
                {
                    @for (int i = 0; i < ListCategorySold.Count; i++)
                    {

                        <div class="tab-pane fade" id="@ListCategorySold[i].Replace(" ", "_")" role="tabpanel">
                            <div class="product_slick slick_slider_activation" data-slick='{
                                                "slidesToShow": 4,
                                                "slidesToScroll": 1,
                                                "arrows": true,
                                                "dots": false,
                                                "autoplay": false,
                                                "speed": 300,
                                                "infinite": true,
                                                "responsive":[
                                                  {"breakpoint":992, "settings": { "slidesToShow": 3 } },
                                                  {"breakpoint":768, "settings": { "slidesToShow": 2 } },
                                                  {"breakpoint":300, "settings": { "slidesToShow": 1 } }
                                                 ]
                                            }'>
                                @foreach (var item in ViewData["ListBestSellingItems" + (i + 1)] as List<ProductDTO>)
                                {
                                    <article class="col single_product">
                                        <figure>
                                            <div class="product_thumb">
                                                <a href="product-details.html">
                                                    <img class="primary_img" src="@item.Image"
                                                         alt="consectetur">
                                                </a>
                                                <div class="product_action">
                                                    <ul>
                                                        <li class="wishlist">
                                                            <a href="#" data-tippy="Wishlist"
                                                               data-tippy-inertia="true" data-tippy-delay="50"
                                                               data-tippy-arrow="true" data-tippy-placement="left">
                                                                <i class="icon-heart icons"></i>
                                                            </a>
                                                        </li>

                                                        <li class="quick_view">
                                                            <a data-toggle="modal" data-target="#modal_box"
                                                               data-tippy="Quick View" href="#" data-tippy-inertia="true"
                                                               data-tippy-delay="50" data-tippy-arrow="true"
                                                               data-tippy-placement="left">
                                                                <i class="icon-size-fullscreen icons"></i>
                                                            </a>
                                                        </li>
                                                        <li class="compare">
                                                            <a data-tippy="Compare" href="#"
                                                               data-tippy-inertia="true" data-tippy-delay="50"
                                                               data-tippy-arrow="true" data-tippy-placement="left">
                                                                <i class="icon-refresh icons"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                @if (item.Discount != 0)
                                                {
                                                    <div class="product_label">
                                                        <span>-@item.Discount%</span>
                                                    </div>
                                                }
                                                
                                            </div>
                                            <figcaption class="product_content text-center">
                                                <div class="product_ratting">
                                                    <ul class="d-flex justify-content-center">
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><span>(2)</span></li>
                                                    </ul>
                                                </div>
                                                <h4 class="product_name">
                                                    <a href="product-details.html">
                                                        @item.Name
                                                    </a>
                                                </h4>
                                                <div class="price_box">
                                                    <span class="current_price">@item.CurrentPrice</span>
                                                    <span class="old_price">@item.OldPrice</span>
                                                </div>
                                                <div class="add_to_cart">
                                                    <a class="btn btn-primary" href="#" data-tippy="Add To Cart"
                                                       data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true"
                                                       data-tippy-placement="top">Add To Cart</a>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                }
                            </div>
                        </div>

                    }
                }
            </div>
        </div>
    </div>
</section>
<!-- product section end -->
<!-- banner section start -->
<section class="banner_section banner_style2 mb-109">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <figure class="single_banner position-relative">
                    <img src="assets/img/bg/bg3.jpg" alt="">
                    <div class="banner_text position-absolute">
                        <h3>Minimalist <br> sneaker</h3>
                        <p>Stretch, fresh-cool help you alway <br> comfortable</p>
                        <a class="btn btn-primary" href="/Products">Shop Now</a>
                    </div>
                    <div class="banner_tag">
                        <span>new arrivals <br> women</span>
                    </div>
                </figure>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <figure class="single_banner position-relative">
                    <img src="assets/img/bg/bg4.jpg" alt="">
                    <div class="banner_text position-absolute text__style2">
                        <h3><span>50%</span> OFF <br> for Autumn</h3>
                        <p>Stretch, fresh-cool help you alway <br> comfortable</p>
                        <a class="btn btn-primary" href="/Products">Shop Now</a>
                    </div>
                    <div class="banner_tag">
                        <span>mega sale</span>
                    </div>
                </figure>
            </div>
        </div>
    </div>
</section>
<!-- banner section end -->
<!-- product section start -->
<section class="product_section mb-80">
    <div class="container">
        <div class="product_header d-flex justify-content-between  mb-60">
            <div class="section_title">
                <h2>new arrivals</h2>
            </div>
            <div class="product_tab_btn d-flex">
                <ul class="nav" role="tablist">
                    <li>
                        <a class="active" data-toggle="tab" href="#all2" role="tab" aria-controls="all2"
                           aria-selected="true">
                            All
                        </a>
                    </li>
                    @if (ListCategoryHasProduct != null && ListCategoryHasProduct.Any())
                    {
                        @foreach (var item in ListCategoryHasProduct)
                        {
                            <li>
                                <a data-toggle="tab" href="#@item.Replace(" ", "_")2" role="tab" aria-controls="@item.Replace(" ", "_")2"
                                   aria-selected="false">
                                    @item
                                </a>
                            </li>
                        }

                    }
                </ul>
                <div class="all_product">
                    <a href="/Products">All Product</a>
                </div>
            </div>
        </div>
        <div class="product_container row">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="all2" role="tabpanel">
                    <div class="product_slick slick_slider_activation" data-slick='{
                    "slidesToShow": 4,
                    "slidesToScroll": 1,
                    "arrows": true,
                    "dots": false,
                    "autoplay": false,
                    "speed": 300,
                    "infinite": true,
                    "responsive":[
                    {"breakpoint":992, "settings": { "slidesToShow": 3 } },
                    {"breakpoint":768, "settings": { "slidesToShow": 2 } },
                    {"breakpoint":300, "settings": { "slidesToShow": 1 } }
                    ]
                    }'>

                        @*New arrival products *@
                        @if (listNewArrivals != null && listNewArrivals.Any())
                        { @foreach (var item in listNewArrivals)
                            {
                                <article class="col single_product">
                                    <figure>
                                        <div class="product_thumb">
                                            <a href="product-details.html">
                                                <img class="primary_img" src="@item.Image"
                                                     alt="consectetur">
                                            </a>
                                            <div class="product_action">
                                                <ul>
                                                    <li class="wishlist">
                                                        <a href="#" data-tippy="Wishlist"
                                                           data-tippy-inertia="true" data-tippy-delay="50"
                                                           data-tippy-arrow="true" data-tippy-placement="left">
                                                            <i class="icon-heart icons"></i>
                                                        </a>
                                                    </li>

                                                    <li class="quick_view">
                                                        <a data-toggle="modal" data-target="#modal_box"
                                                           data-tippy="Quick View" href="#" data-tippy-inertia="true"
                                                           data-tippy-delay="50" data-tippy-arrow="true"
                                                           data-tippy-placement="left">
                                                            <i class="icon-size-fullscreen icons"></i>
                                                        </a>
                                                    </li>

                                                    <li class="compare">
                                                        <a data-tippy="Compare" href="#"
                                                           data-tippy-inertia="true" data-tippy-delay="50"
                                                           data-tippy-arrow="true" data-tippy-placement="left">
                                                            <i class="icon-refresh icons"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            @if (item.Discount != 0)
                                            {
                                                <div class="product_label">
                                                    <span>-@item.Discount%</span>
                                                </div>
                                            }
                                        </div>

                                        <figcaption class="product_content text-center">
                                            <div class="product_ratting">
                                                <ul class="d-flex justify-content-center">
                                                    <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                    <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                    <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                    <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                    <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                    <li><span>(4)</span></li>
                                                </ul>
                                            </div>
                                            <h4 class="product_name">
                                                <a href="product-details.html">@item.Name</a>
                                            </h4>
                                            <div class="price_box">
                                                <span class="current_price">@item.CurrentPrice</span>
                                                <span class="old_price">@item.OldPrice</span>
                                            </div>
                                            <div class="add_to_cart">
                                                <a class="btn btn-primary" href="#" data-tippy="Add To Cart"
                                                   data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true"
                                                   data-tippy-placement="top">Add To Cart</a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </article>
                            }}


                    </div>
                </div>
                @if (ListCategoryHasProduct != null && ListCategoryHasProduct.Any())
                {
                    @for (int i = 0; i < ListCategoryHasProduct.Count; i++)
                    {

                        <div class="tab-pane fade" id="@ListCategoryHasProduct[i].Replace(" ", "_")2" role="tabpanel">
                            <div class="product_slick slick_slider_activation" data-slick='{
                                                        "slidesToShow": 4,
                                                        "slidesToScroll": 1,
                                                        "arrows": true,
                                                        "dots": false,
                                                        "autoplay": false,
                                                        "speed": 300,
                                                        "infinite": true,
                                                        "responsive":[
                                                          {"breakpoint":992, "settings": { "slidesToShow": 3 } },
                                                          {"breakpoint":768, "settings": { "slidesToShow": 2 } },
                                                          {"breakpoint":300, "settings": { "slidesToShow": 1 } }
                                                         ]
                                                    }'>
                                @foreach (var item in ViewData["ListNewArrivals" + (i + 1)] as List<ProductDTO>)
                                {
                                    <article class="col single_product">
                                        <figure>
                                            <div class="product_thumb">
                                                <a href="product-details.html">
                                                    <img class="primary_img" src="@item.Image"
                                                         alt="consectetur">
                                                </a>
                                                <div class="product_action">
                                                    <ul>
                                                        <li class="wishlist">
                                                            <a href="#" data-tippy="Wishlist"
                                                               data-tippy-inertia="true" data-tippy-delay="50"
                                                               data-tippy-arrow="true" data-tippy-placement="left">
                                                                <i class="icon-heart icons"></i>
                                                            </a>
                                                        </li>

                                                        <li class="quick_view">
                                                            <a data-toggle="modal" data-target="#modal_box"
                                                               data-tippy="Quick View" href="#" data-tippy-inertia="true"
                                                               data-tippy-delay="50" data-tippy-arrow="true"
                                                               data-tippy-placement="left">
                                                                <i class="icon-size-fullscreen icons"></i>
                                                            </a>
                                                        </li>
                                                        <li class="compare">
                                                            <a data-tippy="Compare" href="#"
                                                               data-tippy-inertia="true" data-tippy-delay="50"
                                                               data-tippy-arrow="true" data-tippy-placement="left">
                                                                <i class="icon-refresh icons"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                @if (item.Discount != 0)
                                                {
                                                    <div class="product_label">
                                                        <span>-@item.Discount%</span>
                                                    </div>
                                                }

                                            </div>
                                            <figcaption class="product_content text-center">
                                                <div class="product_ratting">
                                                    <ul class="d-flex justify-content-center">
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><span>(2)</span></li>
                                                    </ul>
                                                </div>
                                                <h4 class="product_name">
                                                    <a href="product-details.html">
                                                        @item.Name
                                                    </a>
                                                </h4>
                                                <div class="price_box">
                                                    <span class="current_price">@item.CurrentPrice</span>
                                                    <span class="old_price">@item.OldPrice</span>
                                                </div>
                                                <div class="add_to_cart">
                                                    <a class="btn btn-primary" href="#" data-tippy="Add To Cart"
                                                       data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true"
                                                       data-tippy-placement="top">Add To Cart</a>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                }
                            </div>
                        </div>

                    }
                }
            </div>
        </div>
    </div>
</section>
<!-- product section end -->
<!-- blog section start -->
<section class="blog_section mb-140">
    <div class="container">
        <div class="product_header border-top d-flex justify-content-between  mb-60">
            <div class="section_title">
                <h2>press & look</h2>
            </div>
            <div class="all_articles">
                <a href="blog.html">All articles</a>
            </div>
        </div>
        <div class="blog_container row">
            <div class="blog_slick slick_slider_activation" data-slick='{
                        "slidesToShow": 3,
                        "slidesToScroll": 1,
                        "arrows": false,
                        "dots": false,
                        "autoplay": false,
                        "speed": 300,
                        "infinite": true,
                        "responsive":[
                          {"breakpoint":992, "settings": { "slidesToShow": 2 } },
                          {"breakpoint":768, "settings": { "slidesToShow": 2 } },
                          {"breakpoint":576, "settings": { "slidesToShow": 1 } }
                        ]
                    }'>
                <article class="col single_blog">
                    <figure>
                        <div class="blog_thumb">
                            <a href="blog-details.html"><img src="assets/img/blog/blog1.jpg" alt=""></a>
                        </div>
                        <figcaption class="blog_content">
                            <div class="blog_meta">
                                <ul class="d-flex">
                                    <li><span class="meta_tag">News</span></li>
                                    <li><span>May 25, 2020</span></li>
                                </ul>
                            </div>
                            <h3>
                                <a href="blog-details.html">
                                    Five things you only know if you’re at Chanel's Hamburg
                                    Show
                                </a>
                            </h3>
                        </figcaption>
                    </figure>
                </article>
                <article class="col single_blog">
                    <figure>
                        <div class="blog_thumb">
                            <a href="blog-details.html"><img src="assets/img/blog/blog2.jpg" alt=""></a>
                        </div>
                        <figcaption class="blog_content">
                            <div class="blog_meta">
                                <ul class="d-flex">
                                    <li><span class="meta_tag">News</span></li>
                                    <li><span>May 25, 2020</span></li>
                                </ul>
                            </div>
                            <h3><a href="blog-details.html">Basic colord mixed - trendind 2020</a></h3>
                        </figcaption>
                    </figure>
                </article>
                <article class="col single_blog">
                    <figure>
                        <div class="blog_thumb">
                            <a href="blog-details.html"><img src="assets/img/blog/blog3.jpg" alt=""></a>
                        </div>
                        <figcaption class="blog_content">
                            <div class="blog_meta">
                                <ul class="d-flex">
                                    <li><span class="meta_tag">News</span></li>
                                    <li><span>May 25, 2020</span></li>
                                </ul>
                            </div>
                            <h3>
                                <a href="blog-details.html">Calvin Klein Shoes Collection 2020, Activites Summer</a>
                            </h3>
                        </figcaption>
                    </figure>
                </article>
                <article class="col single_blog">
                    <figure>
                        <div class="blog_thumb">
                            <a href="blog-details.html"><img src="assets/img/blog/blog1.jpg" alt=""></a>
                        </div>
                        <figcaption class="blog_content">
                            <div class="blog_meta">
                                <ul class="d-flex">
                                    <li><span class="meta_tag">News</span></li>
                                    <li><span>May 25, 2020</span></li>
                                </ul>
                            </div>
                            <h3>
                                <a href="blog-details.html">
                                    Five things you only know if you’re at Chanel's Hamburg
                                    Show
                                </a>
                            </h3>
                        </figcaption>
                    </figure>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- blog section end -->