@using System.Globalization
@model ProductDTO

<!--breadcrumbs area start-->
<div class="breadcrumbs_area breadcrumbs_product" style="padding-bottom: 20px">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">home</a></li>
                        <li><a href="/products">shop</a></li>
                        <li>@Model.Name</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--product details start-->
<section class="product_details mb-135">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product_zoom_gallery">
                    <div class="zoom_gallery_inner d-flex">
                        <div class="zoom_tab_img">
                            @if (Model.ListImages != null && Model.ListImages.Any())
                            {
                                @foreach (var image in Model.ListImages)
                                {
                                    <a class="zoom_tabimg_list" href="javascript:void(0)"><img src="/@image" alt="tab-thumb" style="min-width: 50px"></a>
                                }
                            }
                        </div>
                        <div class="product_zoom_main_img">
                            @if (Model.ListImages != null && Model.ListImages.Any())
                            {
                                @foreach (var image in Model.ListImages)
                                {
                                    <div class="product_zoom_thumb">
                                        <img data-image="@image" src="/@image" alt="@image">
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product_d_right">
                    <form action="#">
                        <h1>@Model.Name</h1>
                        <div class="product_ratting_review d-flex align-items-center">
                            <div class=" product_ratting">
                                <ul class="d-flex">
                                    <li><a href="#"><i class="ion-ios-star"></i></a></li>
                                    <li><a href="#"><i class="ion-ios-star"></i></a></li>
                                    <li><a href="#"><i class="ion-ios-star"></i></a></li>
                                    <li><a href="#"><i class="ion-ios-star"></i></a></li>
                                    <li><a href="#"><i class="ion-ios-star"></i></a></li>
                                </ul>
                            </div>
                            <div class="product_review">
                                <ul class="d-flex">
                                    <li>4 reviews</li>
                                    <li>Write your review</li>
                                </ul>
                            </div>
                        </div>
                        <div class="price_box">
                            <span class="current_price">@Model.CurrentPrice</span>
                        </div>
                        <div class="product_availalbe">
                            @if (Model.Quantity > 0)
                            {
                                <ul class="d-flex">
                                    <li><i class="icon-layers icons"></i> Only <span>@Model.Quantity</span> left </li>
                                    <li>Availalbe: <span class="stock">In Stock</span></li>
                                </ul>
                            }
                            else
                            {
                                <p class="text-danger">Sold out</p>
                            }

                        </div>
                        <div class="product_desc">
                            @Html.Raw(Model.Describe)
                        </div>
                        <div class="product_variant">
                            @if (Model.Quantity > 0)
                            {
                                <div class="variant_quantity_btn d-flex">
                                    <div class="pro-qty border">
                                        <input id="productQuantity" min="1" max="@Model.Quantity" type="number" value="1">
                                    </div>
                                    <button class="button btn btn-primary" type="submit" onclick="updateCart(@Model.Id,getQuantity())"><i class="ion-android-add"></i> Add To Cart</button>
                                    <a class="wishlist" href="#"><i class="ion-ios-heart"></i></a>
                                </div>
                            }

                        </div>
                        <div class="priduct_social d-flex">
                            <span>SHARE: </span>
                            <ul>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus-outline"></i></a></li>
                                <li><a href="#"><i class="ion-social-pinterest"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--product details end-->
<!--product info start-->
<div class="product_d_info mb-118">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product_d_inner">
                    <div class="product_info_button border-bottom">
                        <ul class="nav" role="tablist">
                            <li>
                                <a class="active" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">Product Description</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Reviews          </a>
                            </li>

                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="info" role="tabpanel">
                            <div class="product_info_content">
                                @Html.Raw(Model.Describe)
                            </div>
                        </div>
                        <div class="tab-pane fade" id="reviews" role="tabpanel">
                            <div class="reviews_wrapper">
                                @{
                                    var comments = new List<CommentDTO>();
                                    if(ViewData["comments"] != null){
                                        comments = ViewData["comments"] as List<CommentDTO>;
                                    }
                                }
                                @if (comments != null && comments.Any())
                                {
                                    <h2>@comments.Count review for @Model.Name</h2>
                                    @foreach (CommentDTO comment in comments)
                                    {
                                        <div class="reviews_comment_box">
                                            <div class="comment_thmb">
                                                <img src="@comment.Avatar" alt="">
                                            </div>
                                            <div class="comment_text">
                                                <div class="reviews_meta">
                                                    <div class="star_rating">
                                                        <ul class="d-flex">
                                                            <li><a href="#"><i class="icon-star"></i></a></li>
                                                            <li><a href="#"><i class="icon-star"></i></a></li>
                                                            <li><a href="#"><i class="icon-star"></i></a></li>
                                                            <li><a href="#"><i class="icon-star"></i></a></li>
                                                            <li><a href="#"><i class="icon-star"></i></a></li>
                                                        </ul>
                                                    </div>
                                                    @{
                                                        string formatDate = comment.CreatedDate.ToString("dd MMMM, yyyy", new CultureInfo("vi-VN"));
                                                    }
                                                    <p><strong>@comment.UserName </strong>- @formatDate</p>
                                                    <span>@comment.Content</span>
                                                </div>
                                            </div>

                                        </div>
                                    }

                                }

                                @* <div class="comment_title"> *@
                                @*     <h2>Add a review </h2> *@
                                @*     <p>Your email address will not be published.  Required fields are marked </p> *@
                                @* </div> *@
                                @* <div class="product_review_form"> *@
                                @*     <form action="#"> *@
                                @*         <div class="row"> *@
                                @*             <div class="col-12"> *@
                                @*                 <label for="review_comment">Your review </label> *@
                                @*                 <textarea name="comment" id="review_comment"></textarea> *@
                                @*             </div> *@
                                @*         </div> *@
                                @*         <button type="submit">Submit</button> *@
                                @*     </form> *@
                                @* </div> *@
                            </div>
                        </div>                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--product info end-->
<!--product area start-->
<section class="product_area related_products">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title mb-50">
                    <h2>Related Products</h2>
                </div>
            </div>
        </div>
        <div class="product_container row">
            <div class=" product_slick slick_slider_activation" data-slick='{
            "slidesToShow": 4,
            "slidesToScroll": 1,
            "arrows": true,
            "dots": false,
            "autoplay": false,
            "speed": 300,
            "infinite": true,
            "responsive":[
            {"breakpoint":992, "settings": { "slidesToShow": 3 } },
            {"breakpoint":768, "settings": { "slidesToShow": 2 } },
            {"breakpoint":300, "settings": { "slidesToShow": 1 } }
            ]
            }'>
                @{
                    var relatedProducts = new List<ProductDTO>();
                    if (ViewData["ListNewArrivals"]!= null){
                        relatedProducts = ViewData["ListNewArrivals"] as List<ProductDTO>;
                    }
                }
                @if(relatedProducts!= null && relatedProducts.Any()){
                    @foreach(ProductDTO productDTO in relatedProducts){
                        <div class="col-lg-3">
                            <article class="single_product">
                                <figure>
                                    <div class="product_thumb">
                                        <a href="product-details.html">
                                            <img class="primary_img" src="/@productDTO.Image" alt="consectetur">
                                        </a>
                                    </div>
                                    <figcaption class="product_content text-center">
                                        <div class="product_ratting">
                                            <ul class="d-flex justify-content-center">
                                                <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                <li><span>(4)</span></li>
                                            </ul>
                                        </div>
                                        <h4 class="product_name"><a asp-controller="Products" asp-action="Detail">@productDTO.Name</a></h4>
                                        <div class="price_box">
                                            <span class="current_price">@productDTO.CurrentPrice</span>
                                            <span class="old_price">@productDTO.OldPrice</span>
                                        </div>
                                        <div class="add_to_cart">
                                            <a class="btn btn-primary" onclick="updateCart(@productDTO.Id,1)" data-tippy="Add To Cart" data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-placement="top">Add To Cart</a>
                                        </div>
                                    </figcaption>
                                </figure>
                            </article>
                        </div>
                    }
                }
                
            </div>
        </div>
    </div>
</section>
<!--product area end-->

<script>
    function getQuantity(){
        var quantity = document.getElementById("productQuantity");
        return quantity ? quantity.value : 1;
    }
</script>
