@model List<ProductDTO>
    @{
        List<CategoryDTO>? listCategoryViewModel = new List<CategoryDTO>(); // list category
        if (ViewData["listCategoryViewModel"] != null)
        {
            listCategoryViewModel = ViewData["listCategoryViewModel"] as List<CategoryDTO>;
        }

        List<ProductDTO>? ListNewArrivals = new List<ProductDTO>(); // list new arrival
        if (ViewData["ListNewArrivals"] != null)
        {
            ListNewArrivals = ViewData["ListNewArrivals"] as List<ProductDTO>;
        }
    }
    <!--shop  area start-->
    <div class="shop_section shop_reverse" style="padding-top: 20px">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <!--sidebar widget start-->
                    <aside class="sidebar_widget">
                        <div class="widget_inner">
                            <div class="widget_list widget_categories">
                                <h2>Categories</h2>
                                <ul class="widget_dropdown_categories collapse show">
                                    <li class="widget_sub_categories">
                                        <ul>
                                            @if (listCategoryViewModel != null && listCategoryViewModel.Any())
                                            {@foreach (CategoryDTO item in listCategoryViewModel)
                                                {
                                                    <li>
                                                        <a asp-controller="Products" asp-route-category="@item.Name" asp-route-search="@ViewData["search"]" asp-route-minPrice="@ViewData["minPrice"]" asp-route-maxPrice="@ViewData["maxPrice"]" asp-route-sortBy="@ViewData["sortBy"]" asp-route-isDescending="@ViewData["isDescending"]" asp-route-page="@ViewData["page"]">
                                                            @item.Name <span>@item.Count</span>
                                                        </a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </li>

                                </ul>
                            </div>
                        <div class="widget_list widget_filter">
                            <h2>Filter By</h2>
                            <div class="filter__list">
                                <h3>Price</h3>
                                <form id="price-filter-form">
                                    <label><input type="radio" style="width:fit-content" name="priceRange" value="<400000"> 0 - 400000 ₫</label><br>
                                    <label><input type="radio" style="width:fit-content" name="priceRange" value="400000-800000"> 400000 - 800000 ₫</label><br>
                                    <label><input type="radio" style="width:fit-content" name="priceRange" value=">800000"> > 800000 ₫</label><br>
                                </form>
                            </div>
                        </div>

                            <div class="widget_list">
                                <h2>Recent Product</h2>
                                <div class="recent_product">
                                    @if (ListNewArrivals != null && ListNewArrivals.Any())
                                    {@for (int i = 0; i < 2; i++)
                                        {
                                            <div class="recent_product_list d-flex mb-25">
                                                <div class="recent_thumb">
                                                    <a asp-controller="Products" asp-action="detail" asp-route-id="@ListNewArrivals[i].Id"><img src="@ListNewArrivals[i].Image" alt=""></a>
                                                </div>
                                                <div class="recent_content">
                                                    <h4><a asp-controller="Products" asp-action="detail" asp-route-id="@ListNewArrivals[i].Id">@ListNewArrivals[i].Name</a></h4>
                                                    <div class="price_box">
                                                        <span class="current_price">@ListNewArrivals[i].CurrentPrice</span>
                                                        <span class="old_price">@ListNewArrivals[i].OldPrice</span>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }



                                </div>
                            </div>
                        </div>
                    </aside>
                    <!--sidebar widget end-->
                </div>
                <div class="col-lg-9 col-md-12">
                    <!--shop wrapper start-->
                    <!--breadcrumbs area start-->
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="index.html">home</a></li>
                            <li>shop</li>
                        </ul>
                    </div>
                    <!--breadcrumbs area end-->

                    <div class="shop_banner d-flex align-items-center" data-bgimg="assets/img/bg/shop_bg.jpg">
                        <div class="shop_banner_text">
                            <h2>essential <br> wears</h2>
                            <p>The collections basic items <br> essential for all girls</p>
                        </div>
                    </div>
                    <!--shop toolbar start-->
                    <div class="shop_toolbar_wrapper d-flex justify-content-between align-items-center">
                        <div class="page_amount">
                            <p><span>@Model.Count</span> Products Found</p>
                        </div>
                        <div class="sorting_by d-flex align-items-center">
                            <span>SORT BY:</span>
                            <form class=" d-flex align-items-center" asp-controller="Products">
                                <!-- Chọn tiêu chí sắp xếp -->
                                <input type="hidden" name="search" value="@ViewData["search"]" />
                                <input type="hidden" name="category" value="@ViewData["category"]"/>
                                <input type="hidden" name="minPrice" value="@ViewData["minPrice"]"/>
                                <input type="hidden" name="maxPrice" value="@ViewData["maxPrice"]"/>
                                <input type="hidden" name="page" value="@ViewData["page"]"/>
                                <select name="sortBy" id="sortBy" class="mx-2" onchange="this.form.submit()">
                                    @foreach (SortBy option in Enum.GetValues(typeof(SortBy)))
                                    {
                                        @if (option.Equals(ViewData["sortBy"]))
                                        {
                                            <option value="@option" selected>@option</option>
                                        }
                                        else
                                        {
                                            <option value="@option">@option</option>
                                        }

                                    }
                                </select>

                                <!-- Chọn thứ tự sắp xếp -->
                                @{
                                    var isDescending = false;
                                    if (ViewData["isDescending"] != null){
                                        isDescending = (bool) ViewData["isDescending"];
                                    }
                                }
                                <select name="isDescending" id="isDescending" class="mx-2" onchange="this.form.submit()">
                                    @if(isDescending == false){
                                        <option value="False" selected>Ascending</option>
                                        <option value="True">Descending</option>
                                    }else{
                                        <option value="False">Ascending</option>
                                        <option value="True" selected>Descending</option>
                                    }
                                                                                                 
                                </select>
                            </form>

                        </div>

                        <div class="toolbar_btn_wrapper d-flex align-items-center">
                            <div class="view_btn">
                                <a class="view" href="#">VIEW</a>
                            </div>
                            <div class="shop_toolbar_btn">
                                <ul class="d-flex align-items-center">
                                    <li><a href="#" class="active btn-grid-3" data-role="grid_3" data-tippy="3" data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-placement="top"><i class="ion-grid"></i></a></li>

                                    <li><a href="#" class="btn-list" data-role="grid_list" data-tippy="List" data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-placement="top"><i class="ion-navicon"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--shop toolbar end-->
                    <div class="row shop_wrapper">
                        @foreach (ProductDTO item in Model)
                        {
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6 ">
                                <div class="single_product">
                                    <div class="product_thumb">
                                        <a asp-controller="Products" asp-action="detail" asp-route-id="@item.Id">
                                            <img class="primary_img" src="@item.Image" alt="consectetur">
                                        </a>
                                        <div class="product_action">
                                            <ul>
                                                <li class="wishlist">
                                                    <a href="#" data-tippy="Wishlist" data-tippy-inertia="true" data-tippy-delay="50"
                                                       data-tippy-arrow="true" data-tippy-placement="left"><i class="icon-heart icons"></i></a>
                                                </li>

                                                <li class="quick_view"><a data-toggle="modal" data-target="#modal_box" data-tippy="Quick View" href="#" data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-placement="left"><i class="icon-size-fullscreen icons"></i></a></li>
                                                <li class="compare">
                                                    <a data-tippy="Compare" href="#" data-tippy-inertia="true" data-tippy-delay="50"
                                                       data-tippy-arrow="true" data-tippy-placement="left"><i class="icon-refresh icons"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                        @if (item.Discount != 0)
                                        {
                                            <div class="product_label">
                                                <span>-@item.Discount%</span>
                                            </div>
                                        }

                                    </div>
                                    <div class="product_content grid_content text-center">
                                        <div class="product_ratting">
                                            <ul class="d-flex justify-content-center">
                                                <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                <li><span>(2)</span></li>
                                            </ul>
                                        </div>
                                        <h4 class="product_name"><a asp-controller="Products" asp-action="detail" asp-route-id="@item.Id">@item.Name</a></h4>
                                        <div class="price_box">
                                            <span class="current_price">@item.CurrentPrice</span>
                                            <span class="old_price">@item.OldPrice</span>
                                        </div>
                                        <div class="add_to_cart">
                                            <a class="btn btn-primary" onclick="updateCart(@item.Id,1)" data-tippy="Add To Cart" data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-placement="top">Add To Cart</a>
                                        </div>
                                    </div>
                                    <div class="product_list_content">
                                        <h4 class="product_name"><a href="product-details.html">@item.Name</a></h4>
                                        <p><a href="#">shows</a></p>
                                        <div class="price_box">
                                            <span class="current_price">@item.CurrentPrice</span>
                                            <span class="old_price">@item.OldPrice</span>
                                        </div>
                                        <div class="product_desc">
                                            @Html.Raw(item.Describe)
                                        </div>
                                        <div class="add_to_cart">
                                            <a class="btn btn-primary" onclick="updateCart(@item.Id,1)" data-tippy="Add To Cart" data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-placement="top">Add To Cart</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                    <div class="pagination_style pagination justify-content-center">
                        <ul class="d-flex">
                            <li><a href="#"> << </a></li>
                            <li><a href="#">1</a></li>
                            <li><a class="current" href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">>></a></li>
                        </ul>
                    </div>

                    <!--shop toolbar end-->
                    <!--shop wrapper end-->
                </div>
            </div>
        </div>
    </div>
    <!--shop  area end-->
